*{
		margin:0;
		padding: 0;
		box-sizing:border-box;
}

html{
				height: 100%;
}
body{
				background: linear-gradient(#D1913C, #FFD194);
				background-repeat: no-repeat;
				background-size: cover;
				height: 100%;
				width:100%;
}
a{
				text-decoration:none;
				color: #040404;
}
button{
				background: transparent;
				border:1px solid #fff;
				color:#fff;
				padding:5px 10px;
				border-radius:5px;
}
.shadow_sm{
		box-shadow:0 2px 10px #29292980;
}
header{
				display:flex;
				justify-content:space-between;
				align-items:center;
				background: #ffffff50;
				padding: 5px 10px;
				border-radius:5px;
}
.logo{
				font-size: 20px;
				font-weight:900;
				color: transparent;
 		 		background: linear-gradient(#ee9ca7, #212121);  		
  				background-clip: text; 
  				-webkit-background-clip: text; 
  				text-shadow:1px 2px 3px #21212154
}
.welcome{
				padding: 70px 10px;
}
.welcome__title{
				color: #fff;
				font-size:30px;
}

.author{
				color: red;
				font-size:60px;
				color: transparent;
  				background: linear-gradient(#ee9ca7, #212121);
  				background-clip: text; 
  				-webkit-background-clip: text; 
  				text-shadow:0 6px 8px #212121;
}
